 .u-section-1 {
  background-image: url("images/-successful-entrepreneur-concept-professional-real-estate-broker-ready-show-clients-houses-put-glasses-smiling-pleased-asia.jpg");
  background-position: 16.57% 11.76%;
  background-size: 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 612px;
}

.u-section-1 .u-group-1 {
  width: 577px;
  min-height: 472px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 70px 0 70px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-form-1 {
  height: 356px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-label-1 {
  text-transform: none;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  text-transform: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-label-3 {
  text-transform: none;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-label-4 {
  width: 100px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

.u-section-1 .u-text-1 {
  margin: 30px 40px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 33.36% 14.61%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.83% 26.11%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 407px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 69px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 16px auto 0;
}

.u-section-2 .u-text-3 {
  width: 722px;
  margin: 25px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 25px auto 60px;
  padding: 15px 43px 16px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 871px;
}

.u-section-3 .u-image-1 {
  height: 291px;
  object-position: 50% 91.68%;
  width: 291px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 91px;
  min-height: 16px;
  width: 360px;
  min-width: 134px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 814px;
  font-size: 2.25rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 649px;
  margin: 41px auto 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 60px;
  padding: 15px 44px 16px 42px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-social-icons-1 {
    width: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-social-icons-1 {
    height: 69px;
    width: 292px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: url("images/female-work-brainstorming.jpg");
  background-position: 50% 67.49%;
}

.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-group-1 {
  width: 707px;
  min-height: 445px;
  height: auto;
  margin: 111px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 0 auto;
  padding: 16px 51px 16px 50px;
}

.u-section-4 .u-text-1 {
  margin: 31px 5px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 20px 15px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  width: 402px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-4 {
    width: 320px;
  }
}